body{
	background-image: url(real.jpg);
	background-repeat: no-repeat;
	background-size: 120%;
}

.common-login{
	padding: 10px;
	padding-bottom:80px;
	width: 400px;
	height: auto;
	margin-left: 33%;
	margin-top: 12%;
	border:dashed black 2px;
	background-color:yellowgreen;
}

.common-login h4{
	text-align: center;
	color: black;
	font-family: 'poppins',sans-serfi;
	font-size: 24px;
}
.common-login select{
	width: 100%;
	border:solid black 1px;
	height: 40px;
	background-color: transparent;

}
.common-login option::placeholder{
	width: 100%;
	border:solid black 1px;
	height: 40px;
	background-color: transparent;
}
.common-login select::placeholder{
	color: red;
}
.common-login input{
	width:100%;
	border:solid black 1px;
	margin-top:15px;
	background-color: transparent;
	height:40px;

}
.common-login button{
	background-color: black;
	border:solid black 1px;
	color: white;
	width: 100%;
	height: 40px;
	margin-top: 15px;
}

.reg p{
	width: 49.8%;
	float: left;
    margin-top: 15px;
	margin-left: 0px;
	border:solid black 1px;
	padding: 8px; 
	color: black;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.back p{
	border:dashed black 2px;
	cursor: pointer;
	color: black;
	font-size: 18px;
	width: 250px;
	text-align: center;
	height: 30px;
	font-family: 'poppins',sans-serfi;
}