


/* created  using  Webstrom text editor
Author Vishal Kumar Singh
 */
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-family: "Muli", sans-serif;
	color: #a9a9a9;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}



.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	font-size: 16px;
	color: #008000;
	text-transform: uppercase;
	font-weight: 700;
}

.section-title h2 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 8px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}



.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 17px 30px 16px;
	color: #ffffff;
	background: #008000;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}

.primary-btn.btn-normal {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.primary-btn.btn-normal:hover {
	background: #008000;
	border-color: #008000;
}







.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 0px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}



.header-section {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 15px;
	padding-top: 55px;
	z-index: 99;
	margin-top: 10px;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	text-align: left;
}

.nav-menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	z-index: 1;
}

.nav-menu ul li .dropdown {
	position: absolute;
	left: -30px;
	top: 58px;
	width: 180px;
	background: #252525;
	z-index: 99;
	text-align: left;
	padding: 13px 0 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li .dropdown li {
	margin-right: 0;
	display: block;
}

.nav-menu ul li .dropdown li a {
	display: block;
	text-transform: none;
	padding: 6px 0 6px 30px;
	font-weight: 400;
}

.nav-menu ul li .dropdown li a:after {
	display: none;
}

.nav-menu ul li:last-child {
	margin-right: 0;
}

.nav-menu ul li.active>a {
	color: #008000;
}

.nav-menu ul li.active>a:after {
	opacity: 1;
}

.nav-menu ul li:hover>a {
	color: #008000;
}

.nav-menu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
}

.nav-menu ul li a {
	color: #ffffff;
	display: block;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Oswald", sans-serif;
	padding: 10px 0px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu ul li a:after {
	position: absolute;
	left: 0;
	top: 22px;
	height: 1px;
	width: 100%;
	background: #008000;
	content: "";
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.top-option {
	text-align: right;
	padding: 9px 0;
}

.top-option .to-search {
	display: inline-block;
	padding-right: 10px;
	position: relative;
}

.top-option .to-search:after {
	position: absolute;
	right: 0;
	top: 5px;
	height: 15px;
	width: 1px;
	background: rgba(255, 255, 255, 0.3);
	content: "";
}

.top-option .to-search i {
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}

.top-option .to-social {
	display: inline-block;
}

.top-option .to-social a {
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	margin-left: 0px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas-open {
	display: none;
}



.hs-slider.owl-carousel .owl-item.active .hs-item .hi-text span {
	position: relative;
	top: 0;
	-webkit-transition: all 0.2s ease 0.2s;
	-o-transition: all 0.2s ease 0.2s;
	transition: all 0.2s ease 0.2s;
	opacity: 1;
}

.hs-slider.owl-carousel .owl-item.active .hs-item .hi-text h1 {
	position: relative;
	top: 0;
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
	opacity: 1;
}

.hs-slider.owl-carousel .owl-item.active .hs-item .hi-text .primary-btn {
	position: relative;
	top: 0;
	-webkit-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
	opacity: 1;
}

.hs-slider.owl-carousel .owl-nav button {
	height: 46px;
	width: 46px;
	color: #a9a9a9;
	background: rgba(255, 255, 255, 0.1);
	line-height: 46px;
	text-align: center;
	position: absolute;
	font-size: 24px;
	left: 30px;
	top: 50%;
	-webkit-transform: translateY(-23px);
	-ms-transform: translateY(-23px);
	transform: translateY(-23px);
}

.hs-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 30px;
}

.hs-slider .hs-item {
	height: 1040px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	padding-top: 355px;
}

.hs-slider .hs-item .hi-text span {
	display: block;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 6px;
	margin-bottom: 18px;
	position: relative;
	top: 100px;
	opacity: 0;
}

.hs-slider .hs-item .hi-text h1 {
	font-size: 80px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 90px;
	margin-bottom: 42px;
	position: relative;
	top: 100px;
	opacity: 0;
}

.hs-slider .hs-item .hi-text h1 strong {
	color: #008000;
}

.hs-slider .hs-item .hi-text .primary-btn {
	position: relative;
	top: 100px;
	opacity: 0;
}



.choseus-section {
	background: #0a0a0a;
	padding-bottom: 70px;
}

.cs-item {
	text-align: center;
	margin-bottom: 30px;
}

.cs-item:hover span {
	background: #008000;
	color: #ffffff;
}

.cs-item span {
	height: 90px;
	width: 90px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: inline-block;
	color: #008000;
	line-height: 90px;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.cs-item h4 {
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 16px;
}




.banner-section {
	height: 550px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.bs-text.service-banner .bt-tips {
	margin-bottom: 35px;
}

.bs-text h2 {
	font-size: 48px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.bs-text .bt-tips {
	font-size: 20px;
	color: #c4c4c4;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.bs-text .primary-btn {
	background: transparent;
	border: 2px solid #008000;
}

.bs-text .play-btn {
	display: inline-block;
	height: 70px;
	width: 70px;
	background: #008000;
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	font-size: 36px;
	color: #ffffff;
}




.gallery-section {
	background: #151515;
	overflow: hidden;
}

.gallery-section.gallery-page {
	padding-top: 10px;
}

.grid-sizer {
	width: calc(25% - 10px);
}

.gallery {
	margin-right: -10px;
}

.gallery .gs-item {
	height: 472px;
	width: calc(25% - 10px);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.gallery .gs-item:hover .thumb-icon {
	opacity: 1;
	visibility: visible;
}

.gallery .gs-item .thumb-icon {
	font-size: 48px;
	color: #008000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.gallery .gs-item.grid-wide {
	width: calc(50% - 10px);
}



.primary-btn.appoinment-btn {
	background: transparent;
	border: 2px solid #008000;
	float: right;
	margin-top: 10px;
}




.gettouch-section {
	background: #0a0a0a;
	padding: 30px 0 15px;
}

.gt-text {
	overflow: hidden;
	margin-bottom: 30px;
}

.gt-text i {
	font-size: 30px;
	color: #ffffff;
	display: inline-block;
	height: 65px;
	width: 65px;
	background: #008000;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.gt-text p {
	overflow: hidden;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 10px;
}

.gt-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.gt-text ul li {
	list-style: none;
	font-size: 14px;
	color: #ffffff;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.gt-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.gt-text ul li:last-child {
	margin-right: 0;
}

.gt-text ul li:last-child:after {
	display: none;
}

.gt-text.email p {
	padding-top: 20px;
}


.footer-section {
	background: #000000;
	padding-top: 50px;
}

.fs-about {
	margin-bottom: 30px;
}

.fs-about .fa-logo {
	margin-bottom: 30px;
}

.fs-about .fa-logo a {
	display: inline-block;
}

.fs-about p {
	line-height: 26px;
	color: #c4c4c4;
}

.fs-about .fa-social a {
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 10px;
}

.fs-about .fa-social a:last-child {
	margin-right: 0;
}

.fs-widget {
	margin-bottom: 30px;
}

.fs-widget h4 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 18px;
}

.fs-widget ul li {
	list-style: none;
}

.fs-widget ul li a {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 30px;
}

.fs-widget .fw-recent {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1a1a1a;
}

.fs-widget .fw-recent:last-child {
	padding-bottom: 0;
	border: none;
}

.fs-widget .fw-recent h6 {
	margin-bottom: 6px;
}

.fs-widget .fw-recent h6 a {
	color: #c4c4c4;
	letter-spacing: 0.5px;
}

.fs-widget .fw-recent ul li {
	font-size: 12px;
	color: #4d4d4d;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.fs-widget .fw-recent ul li:last-child:after {
	display: none;
}

.fs-widget .fw-recent ul li:after {
	position: absolute;
	right: -16px;
	top: 0;
	content: "|";
}

.copyright-text {
	font-size: 14px;
	color: #c4c4c4;
	letter-spacing: 0.5px;
	border-top: 1px solid #1a1a1a;
	padding: 25px 0;
	margin-top: 15px;
}

.copyright-text a,
.copyright-text i {
	color: #008000;
}





@media only screen and (max-width: 767px) {
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.7);
		z-index: 999;
		height: 100%;
		width: 100%;
		visibility: hidden;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.canvas-open {
		position: absolute;
		right: 40px;
		top: 61px;
		font-size: 22px;
		width: 30px;
		height: 30px;
		color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 2px;
		line-height: 29px;
		text-align: center;
		z-index: 1;
		display: block;
		cursor: pointer;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		top: 0;
		width: 300px;
		z-index: 999;
		background: #ffffff;
		overflow-y: auto;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		padding: 50px 30px 30px 30px;
		display: block;
	}
	.offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.offcanvas-menu-wrapper .canvas-close {
		font-size: 22px;
		width: 30px;
		height: 30px;
		border: 1px solid #151515;
		border-radius: 2px;
		text-align: center;
		line-height: 27px;
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
	}
	.offcanvas-menu-wrapper .canvas-search {
		font-size: 18px;
		text-align: center;
		margin-bottom: 20px;
		cursor: pointer;
	}
	.offcanvas-menu-wrapper .canvas-menu {
		display: none;
	}
	.offcanvas-menu-wrapper .canvas-social {
		text-align: center;
		padding-top: 20px;
	}
	.offcanvas-menu-wrapper .canvas-social a {
		display: inline-block;
		font-size: 16px;
		color: #363636;
		margin-right: 6px;
	}
	.offcanvas-menu-wrapper .canvas-social a:last-child {
		margin-right: 0;
	}
	.offcanvas-menu-wrapper .slicknav_btn {
		display: none;
	}
	.offcanvas-menu-wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
	}
	.offcanvas-menu-wrapper .slicknav_nav {
		display: block !important;
	}
	.offcanvas-menu-wrapper .slicknav_nav ul {
		margin: 0;
	}
	.offcanvas-menu-wrapper .slicknav_nav .slicknav_row,
	.offcanvas-menu-wrapper .slicknav_nav a {
		padding: 10px 0;
		margin: 0;
		color: #151515;
		border-bottom: 1px solid #151515;
		font-weight: 500;
		font-family: "Oswald", sans-serif;
		font-size: 15px;
	}
	.offcanvas-menu-wrapper .slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #008000;
	}
	.offcanvas-menu-wrapper .slicknav_nav .slicknav_row:hover a {
		color: #008000;
	}
	.offcanvas-menu-wrapper .slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #008000;
	}
	.nav-menu {
		display: none;
	}
	.top-option {
		display: none;
	}
	.gallery .gs-item {
		width: 100%;
		float: none;
	}
	.gallery .gs-item.grid-wide {
		width: 100%;
	}
	.about-text {
		height: auto;
		padding: 120px 70px 60px 70px;
	}
	.class-timetable {
		overflow-x: auto;
	}
	.chart-table {
		overflow-x: auto;
	}
	.blog-section .p-0 {
		padding: 15px !important;
	}
	.blog-section .sidebar-option {
		padding-left: 0;
	}
	.blog-item .bi-pic {
		float: none;
	}
	.blog-item .bi-text {
		height: auto;
		padding: 32px 30px 30px 30px;
	}
	.class-details-text .cd-trainer .cd-trainer-text {
		padding-top: 30px;
	}
	.sidebar-option {
		padding-left: 0;
		padding-top: 30px;
	}
	.chart-table {
		margin-bottom: 30px;
	}
	.table-controls {
		text-align: left;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.ss-text:after {
		display: none;
	}
	.ss-text {
		padding: 72px 60px;
		height: auto;
	}
	.class-item .ci-text:after {
		width: 750px;
	}
	.hs-slider .hs-item {
		height: auto;
		padding: 250px 0 150px;
	}
	.hs-slider .hs-item .hi-text h1 {
		font-size: 48px;
		line-height: normal;
	}
	.ts_slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.ts_slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.hs-slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.hs-slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.ss-pic img {
		height: auto;
	}
	.ss-text {
		margin-bottom: 20px;
	}
	.blog-item .bi-pic img {
		height: auto;
	}
	.blog-details-hero {
		height: auto;
		padding: 160px 0 100px;
	}
	.text-404 .search-404 {
		width: 100%;
	}
	.search-model-form input {
		width: 100%;
	}
}



@media only screen and (max-width: 479px) {
	.primary-btn.appoinment-btn {
		float: none;
		margin-top: 0;
	}
	.hs-slider .hs-item .hi-text h1 {
		font-size: 38px;
		line-height: normal;
	}
	.team-title {
		margin-bottom: 20px;
	}
	.about-text {
		padding: 70px 15px 60px;
	}
	.blog-details-section .p-0 {
		padding: 15px !important;
	}
	.text-404 h1 {
		font-size: 160px;
	}
	.breadcrumb-text h2 {
		font-size: 38px;
	}
	.text-404 h1 {
		font-size: 80px;
	}
	.blog-details-text .blog-details-author {
		padding: 70px 15px 35px;
	}
	.search-model-form input {
		font-size: 28px;
	}
}
.services-section {
	padding-top: 90px;
	padding-bottom: 115px;
	background: #080300;
}

.services-items {
	overflow: hidden;
}
.services-items .single-service-item {
	float: left;
	width: calc(50% - 10px);
	background: #9d69d8;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 30px 22px 10px 30px;
}
.services-items .single-service-item.color-1 {
	background: #62b3d3;
}
.services-items .single-service-item.color-2 {
	background: #5acd57;
}
.services-items .single-service-item.color-3 {
	background: #ed5e4c;
}
.services-items .single-service-item h5 {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 16px;
	margin-top: 25px;
}
.services-items .single-service-item p {
	color: #ffffff;
	line-height: 22px;
}

.service-video {
	height: 636px;
}
.service-video .play-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.service-video .play-btn a {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.service-video .play-btn a:before {
	position: absolute;
	left: -28px;
	top: -20px;
	height: 66px;
	width: 66px;
	background: #fff;
	content: "";
	border-radius: 50%;
	opacity: 0.2;
	z-index: -1;
}
.service-video .play-btn a:after {
	position: absolute;
	left: -20px;
	top: -12px;
	height: 50px;
	width: 50px;
	background: #008000;
	content: "";
	border-radius: 50%;
	z-index: -1;
}
.service-video .play-btn a i {
	color: #ffffff;
}
.class-section {
	padding-top: 75px;
	padding-bottom: 70px;
	background: #080300;
}
.class-section .primary-btn {
	margin-top: 25px;
	float: right;
}

.class-item {
	margin-bottom: 30px;
}
.class-item .single-class-item img {
	min-width: 100%;
}
.class-item .single-class-item .class-text {
	padding-top: 60px;
}
.class-item .single-class-item .class-text h3 {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 35px;
}
.class-item .single-class-item .class-text p {
	color: #ffffff;
	margin-bottom: 45px;
}
.class-item .single-class-item .class-text .schedule-btn {
	color: #008000;
	font-size: 14px;
	font-family: "Oswald", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.class-item .single-class-item .class-text .schedule-btn i {
	font-size: 18px;
	margin-left: 7px;
}

.class-author ul li {
	width: 160px;
	margin-right: 30px;
}
.class-author ul li a.active .author-text h5 {
	color: #008000;
}
.class-author ul li:last-child {
	margin-right: 0;
}
.class-author .author-text {
	margin-bottom: 30px;
}
.class-author .author-text img {
	min-width: 100%;
	margin-bottom: 26px;
}
.class-author .author-text h5 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
}
.team-section {
background: #080300;
}
.team-section .section-title {
	float: left;
	margin-bottom: 30px;
}
.team-section .primary-btn {
	float: right;
	margin-top: 25px;
}

.team-members .member-pic {
	position: relative;
}
.team-members .member-pic:before {
	position: absolute;
	right: -65px;
	top: 50%;
	height: 70px;
	width: 70px;
	background: #ffffff;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -35px;
}
.team-members .member-pic.second:before {
	top: auto;
	bottom: -60px;
	left: 50%;
	margin-left: -35px;
}
.team-members .member-pic img {
	min-width: 100%;
}
.team-members .member-text {
	padding: 95px 30px 50px 45px;
	background: #ffffff;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 99;
}
.team-members .member-text span {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #008000;
	line-height: 36px;
}
.team-members .member-text h5 {
	color: #191919;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 18px;
	font-weight: 500;
}
.team-members .member-text p {
	color: #6e6e6e;
	margin-bottom: 5px;
}
.team-members .member-text .member-social a {
	display: inline-block;
	font-size: 12px;
	color: #6e6e6e;
	margin-right: 8px;
}
#input-form{
	border: none;
	border-bottom: #008000 solid;
	background: black;
	margin-bottom: 10px;
	width: 60%;
	color: #ffffff;
}
.breadcrumb-section {
	height: 500px;
	padding-top: 230px;
}

.breadcrumb-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.breadcrumb-text .bt-option a {
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.breadcrumb-text .bt-option a:after {
	position: absolute;
	right: -14px;
	top: 6px;
	font-family: "FontAwesome";
	content: "";
	font-size: 13px;
	font-weight: 400;
}

.breadcrumb-text .bt-option span {
	font-size: 18px;
	color: #008000;
	font-weight: 700;
}
.class-timetable-section {
	background: #151515;
}

.class-timetable-section.class-details-timetable {
	padding-top: 0;
}

.class-timetable-section .section-title {
	text-align: left;
}

.class-details-timetable_title {
	margin-bottom: 35px;
}

.class-details-timetable_title h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
}

.table-controls {
	text-align: right;
	margin-top: 14px;
	margin-bottom: 50px;
}

.table-controls ul {
	background: #000000;
	padding: 12px 30px 15px;
	display: inline-block;
}

.table-controls ul li {
	list-style: none;
	font-size: 14px;
	color: #aaaaaa;
	list-style: none;
	display: inline-block;
	margin-right: 35px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
	position: relative;
}

.table-controls ul li:after {
	position: absolute;
	right: -22px;
	top: 0;
	content: "/";
}

.table-controls ul li.active {
	color: #ffffff;
}

.table-controls ul li.active:after {
	color: #aaaaaa;
}

.table-controls ul li:last-child {
	margin-right: 0;
}

.table-controls ul li:last-child:after {
	display: none;
}

.class-timetable .ts-meta h5,
.class-timetable .ts-meta span {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;

}

.class-timetable.filtering .ts-meta h5,
.class-timetable.filtering .ts-meta span {
	opacity: 0;
}

.class-timetable.filtering .ts-meta.show h5,
.class-timetable.filtering .ts-meta.show span {
	opacity: 1;
}

.class-timetable.details-timetable td h5 {
	color: #ffffff;
}

.class-timetable.details-timetable td span {
	color: #363636;
}

.class-timetable.details-timetable td.hover-dp h5 {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.class-timetable.details-timetable td.hover-dp span {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.class-timetable.details-timetable td.hover-dp:hover h5 {
	color: #ffffff;
}

.class-timetable.details-timetable td.hover-dp:hover span {
	color: #ffffff;
}

.class-timetable.details-timetable td.dark-bg {
	background: #0a0a0a;
}

.class-timetable table {
	border: 1px solid #363636;
	text-align: center;
}

.class-timetable table thead {
	border-bottom: 1px solid #363636;
}

.class-timetable table thead tr th {
	font-size: 14px;
	color: #ffffff;
	background: #008000;
	border-right: 1px solid #363636;
	padding: 15px 0;
	font-weight: 400;
}

.class-timetable table tbody tr td {
	width: 146px;
	padding: 35px 0;
}

.class-timetable table tbody tr td.class-time {
	font-size: 12px;
	color: #008000;
	background: #000000;
	border: 1px solid #363636;
}

.class-timetable table tbody tr td.dark-bg {
	background: #090909;
}

.class-timetable table tbody tr td.hover-bg {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.class-timetable table tbody tr td.hover-bg:hover {
	background: #008000;
}

.class-timetable table tbody tr td.blank-td {
	position: relative;
	overflow: hidden;
}

.class-timetable table tbody tr td.blank-td:after {
	position: absolute;
	left: -47px;
	top: 59px;
	width: 237px;
	height: 1px;
	background: #ffffff;
	content: "";
	-webkit-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

.class-timetable table tbody tr td h5 {
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.class-timetable table tbody tr td span {
	display: block;
	font-size: 12px;
	color: #008000;
}
.cta-section {
	text-align: center;
	padding-top: 110px;
	padding-bottom: 120px;
}
.cta-section h2 {
	color: #ffffff;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.cta-section p {
	color: #ffffff;
	margin-bottom: 35px;
}
#backgr{
	background-image: url("breadcrumb-bg.jpg");
}
.about-page-trainer {
	padding-bottom: 70px;
	background: black;
}
.about-page-trainer .section-title h2 {
	color: #ffffff;
	font-weight: 600;
}
.about-page-trainer .section-title h2:before {
	background: #008000;
}
.about-page-trainer .section-title p {
	color: #ffffff;
}
.about-page-trainer .single-trainer-item {
	text-align: center;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.about-page-trainer .single-trainer-item:hover {
	-webkit-box-shadow: 1px 2px 30px 5px #d8d8d8;
	box-shadow: 1px 2px 30px 5px #d8d8d8;
}
.about-page-trainer .single-trainer-item .trainer-pic img {
	min-width: 100%;
}
.about-page-trainer .single-trainer-item .trainer-text {
	padding: 25px 30px 25px;
}
.about-page-trainer .single-trainer-item .trainer-text h5 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.about-page-trainer .single-trainer-item .trainer-text span {
	color: #008000;
	font-size: 16px;
	line-height: 30px;
	display: block;
	margin-bottom: 14px;
}
.about-page-trainer .single-trainer-item .trainer-text .trainer-social {
	border-top: 1px solid #ebebeb;
	padding-top: 15px;
}
.about-page-trainer .single-trainer-item .trainer-text .trainer-social a {
	display: inline-block;
	color: #008000;
	font-size: 14px;
	margin-right: 26px;
}
.about-page-trainer .single-trainer-item .trainer-text .trainer-social a:last-child {
	margin-right: 0;
}
.shadow-effect {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border:1px solid #ECECEC;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}
.carousel-indicators li {
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #008000;
	border: 5px double;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;

}
.carousel .testimonial::before {
	content: "\201C";
	font-family: Arial,sans-serif;
	color: #28a745;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 85px;
	top: 0;

	margin-bottom: 120px !important;
}
.footer-form {
	margin-left: -15px;
	margin-right: -15px;
	height: 610px;
	padding-left: 85px;
	padding-top: 80px;
}
.footer-form .section-title h2 {
	color: #ffffff;
	margin-bottom: 28px;
	font-weight: 600;
}
.footer-form .section-title p {
	color: #ffffff;
}
.footer-form form input {
	width: 100%;
	height: 44px;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
	padding-left: 20px;
}
.footer-form form textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 25px;
	resize: none;
}
.footer-form form button {
	font-size: 14px;
	font-family: "Oswald", sans-serif;
	color: #ffffff;
	background: #008000;
	border: 1px solid darkgreen;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px 52px 10px 39px;
	position: relative;
	cursor: pointer;
}
.footer-form form button i {
	font-size: 10px;
	position: absolute;
	right: 70px;
	top: 16px;
}

.contact-section {
	background: #151515;
}

.section-title.contact-title {
	text-align: left;
	margin-bottom: 35px;
}

.contact-widget .cw-text {
	overflow: hidden;
	margin-bottom: 35px;
}

.contact-widget .cw-text i {
	font-size: 30px;
	color: #008000;
	display: inline-block;
	height: 65px;
	width: 65px;
	background: #363636;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.contact-widget .cw-text p {
	overflow: hidden;
	color: #c4c4c4;
	margin-bottom: 0;
	padding-top: 10px;
}

.contact-widget .cw-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.contact-widget .cw-text ul li {
	list-style: none;
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.contact-widget .cw-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.contact-widget .cw-text ul li:last-child {
	margin-right: 0;
}

.contact-widget .cw-text ul li:last-child:after {
	display: none;
}

.contact-widget .cw-text.email p {
	padding-top: 20px;
}
.leave-comment h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.leave-comment form input {
	font-size: 13px;
	color: #c4c4c4;
	width: 100%;
	height: 46px;
	border: 1px solid #363636;
	padding-left: 20px;
	padding-right: 5px;
	background: transparent;
	margin-bottom: 20px;
}

.leave-comment form input::-webkit-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::-moz-placeholder {
	color: #c4c4c4;
}

.leave-comment form input:-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea {
	font-size: 13px;
	color: #c4c4c4;
	width: 100%;
	height: 100px;
	border: 1px solid #363636;
	padding-left: 20px;
	padding-top: 12px;
	padding-right: 5px;
	background: transparent;
	margin-bottom: 14px;
	resize: none;
}

.leave-comment form textarea::-webkit-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::-moz-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea:-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::placeholder {
	color: #c4c4c4;
}

.leave-comment form button {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	border: none;
	padding: 14px 0 12px;
	background: #008000;
}

